body{
    background-color: #213555;
}


.form-control{
    width: 50%;
    display: inline;
    position: relative;
    text-align: center;
    border-color: black;
    font-size: 2rem;
}

label{
    display: inline;
    font-size: 2rem;
    color: black;
}

.btn{
    font-size: 1.5rem;
}

.main{
    max-width: fit-content;
    margin: auto;
    text-align: center;
}

form{
    width: 100%;
}

.formitem{
    margin-top: 5%;
}

.table{
    --bs-table-bg: #213555;
    margin-top: 5%;
    text-align: center;
    width: 100%;
    font-size: 1.2rem;
    border: 0;
}

th{
    font-size: 2rem;
}


td{
    font-size: 2rem;
}

.incomingSpawn{
    border-width: 4px;
    border-color: red;
    border-radius: 5%;
}

.pastSpawn{
    opacity: 0.33;
}
